.Appointments_page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendario-prueba{
    width: 66%;
    display: flex;
    justify-content: center;
}

.custom-calendar {
    margin: 80px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 70%;
    height: 550px;
  }
  
  /* los días del mes */
  .react-calendar__tile {
    font-family: 'Kodchasan', sans-serif;
    font-size: 18px;
    padding: 12px 0;
    color: #8C7F58;
    transition: background-color 0.3s;
  }
  
  .react-calendar__tile--active {
    background: #BF8059;
    color: #FCF8EF;
    border-radius: 8px;
  }
  
  /* cambiar estilo del encabezado (mes, año) */
  .react-calendar__navigation {
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #FCF8EF;
  }
  
  /* días de la semana (lu, ma, etc.) */
  .react-calendar__month-view__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 50px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #8C7F58;
  }

  .react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 35px; /* Ajusta este valor según lo que desees */
  }

  .react-calendar__navigation__label {
    font-family: 'Kodchasan', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #8C7F58;
    background-color: #FCF8EF;
  }

  .header {
    font-size: 50px;
    font-family: 'JomolhariRegular', serif;
    color: #8C7F58;
    margin-top: -30px;
  }

  .widget-appointment {
    display: flex;
    flex-direction: row;
    background-color: #FCF8EF;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .text_appointment{
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    margin-left: 10px;
  }

  .no-appointment {
    display: flex;
    flex-direction: row;
    background-color: #FCF8EF;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 1%;
  }

  @media (max-width: 600px) {
    .calendario-prueba{
        width: 130%;
        margin-top: -40px;
    }
    
    .custom-calendar {
        font-size: 12px;
        height: 400px;
      }
      
      .react-calendar__tile {
        font-size: 16px;
      }
      
      .react-calendar__month-view__weekdays {
        font-size: 12px;
      }
    
      .react-calendar__month-view__days {
        row-gap: 15px; /* Ajusta este valor según lo que desees */
      }
    
      .react-calendar__navigation__label {
        font-size: 18px;
      }
    
      .widget-appointment {
        width: 90%;
        border-radius: 10px;
        margin-bottom: 30px;
      }

      .header{
        margin-top: -40px;
      }
    
      .text_appointment{
        font-size: 10px;
        font-family: 'Kodchasan', sans-serif;
        margin-left: 10px;
      }
    
      .no-appointment {
        width: 80%;
        border-radius: 10px;
        padding: 3%;
      }
  }