.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #BF8059;
}

.rectangle-navbar {
    background-color: #BF8059;
    height: 50px;
    width: 100%px;
    margin-top: -10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 150px;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    color: #8C7F58;
}

@media (max-width: 600px) {
    .logo {
      height: 100px;
      width: auto; /* para mantener proporción */
    }
  
    .main-nav {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .nav-item {
      font-size: 16px;
      margin: 5px 0;
    }
  
    .rectangle-navbar {
      height: 40px;
    }
  }